#actionExamples {
	margin-top: 4px;
	padding-left: 0;
	list-style-type: none;
	width: 704px;
	max-width: 100%;
}
#actionExamples > li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 128px;
	height: 120px;
	padding: 0px 4px;
}
#actionExamples > li img {
	width: 64px;
	height: 64px;
	opacity: 0.5;
}
#actionExamples > li p {
	line-height: 1.25;
}
