.small-icon {
	width: 16px;
	height: 16px;
	margin: -3px 2px;
	opacity: 0.5;
}

#actionExamples {
	margin-top: 4px;
	padding-left: 0;
	list-style-type: none;
	width: 704px;
	max-width: 100%;
}
#actionExamples > li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 128px;
	height: 120px;
	padding: 0px 4px;
}
#actionExamples > li img {
	width: 64px;
	height: 64px;
	opacity: 0.5;
}
#actionExamples > li p {
	line-height: 1.25;
}

#currentKeyboardShortcut {
	font-weight: bold;
}

/* Copy these styles from options.css for use on the embedded options page without importing all of options.css. */
section {
	padding-left: 18px;
	margin-top: 8px;
	margin-bottom: 24px;
}
	section h3 {
		margin-left: -18px;
	}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #212121;
		color: white;
	}
	header {
		background: linear-gradient(#212121, #212121 40%, rgba(33, 33, 33, 0.92))
	}
	body,
	h1,
	h2,
	h3 {
		color: white;
	}
	a {
		color: #8ab4f8;
	}
	button,
	input,
	select,
	.small-icon,
	#actionExamples > li img {
		filter: invert(1);
	}
}
