body {
	font-family: Roboto, "Droid Sans", Helvetica, Arial, sans-serif;
	padding: 1em 3em;
	
	background-color: white;
	color: black;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #212121;
		color: white;
	}
	a {
		color: #8ab4f8;
	}
}
