body {
	margin:0;
	padding:0;
	
	background-color:white;
	
	text-align:center;
	font-size:100%;
	font-family:Roboto, "Droid Sans", Helvetica, Arial, sans-serif;
	
	-webkit-transition-property: box-shadow;
	        transition-property: box-shadow;
	-webkit-transition-duration:2s;
	        transition-duration:2s;
	-webkit-transition-timing-function:linear;
	        transition-timing-function:linear;
	box-shadow:inset 0 0 0 0 #F8F8F8;
}
body.loading {
	box-shadow:inset 11em 0 0 0 #F8F8F8;
}
#main {
	width:10em;
	min-height:8.75em;
	padding:1em;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	
	z-index:2;
}

#icon {
	width:4em;
	height:4em;
	opacity:0.5;
}

#text {
	font-size:100%;
	margin-bottom:0;
}
#subtext {
	font-size:80%;
	opacity:0.8;
	margin:0.25em;
}

#cancelBtn {
	width:100%;
	padding:10px 16px;
	background:transparent;
	border:0 none;
	border-top:1px solid rgba(0, 0, 0, 0.125);
	outline-width:0;
	
	font:inherit;
	font-size: 87.5%;
	font-weight:500;
	text-transform:uppercase;
	
	cursor:pointer;
	
	z-index:2;
}
#cancelBtn:hover,
#cancelBtn:focus {
	background:rgba(128, 128, 128, 0.2);
}
#cancelBtn:active {
	background:rgba(128, 128, 128, 0.4);
}
