body {
	font-family: Roboto, system-ui, "Segoe UI", "Droid Sans", Helvetica, Arial, sans-serif;
	padding: 1.5em 3em;
	max-width: 600px;
	margin: auto;
	
	background-color: white;
	color: black;
}
.small-icon {
	width: 16px;
	height: 16px;
	margin: -4px 2px;
	opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #212121;
		color: white;
	}
	a:not(:active) {
		color: #8ab4f8;
	}
	.small-icon {
		filter: invert(1);
	}
}
