body {
	background-color:white;
	
	font-family:"Open Sans", Arial, Helvetica, Roboto, "Droid Sans", sans-serif;
	font-size:14px;
}
hr {
	height:0px;
	padding:0px;
	
	border-style:none;
	border-width:0px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#E0E0E0;
}
h1 {
	font-size:40px;
	margin-top:0.5em;
}
h3 {
	margin-bottom:0.5em;
}
h4 {
	margin-top:0.25em;
	margin-bottom:0em;
}
#actionExamples {
	margin-top:4px;
	white-space:nowrap;
}
#actionExamples > div {
	display:inline-block;
	text-align:center;
	vertical-align:top;
	white-space:normal;
	width:128px;
	height:120px;
	padding:0px 4px;
	
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#E0E0E0;
}
#actionExamples > div:last-child {
	border-right-style:none;
}
